

/*lets set some gloabl styling*/
/*set up some default fonts, text color, and center placeholder text*/
* {
  font-family: sans-serif, Arial, Verdana;
  color: #828282;
  text-align: center;
}
/*setting up general background color, basic margin and padding*/
header, .content, footer {
  background-color:  #efefef;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}
/*set height for content*/
.content {
  height: 100px;
}
/* make li inline, basically make the menu in a single row*/
li {
  display: inline;
  padding: 5px;
}
/* get rid of horrible hyperlink underline*/
a {
  text-decoration: none;
}

/*
lets add some css to make our site have a better look and layout
*/

/*set width to 960px, margin 0 auto will center the whole site*/
body {
  max-width: 960px;
  margin: 0 auto;
}

.col {
  width: 30%;
  float: left;
  margin: 1.5%;
}

footer {
  clear: both;
}
/*lets set a media query to make our columns adjust when to full width when the screen width is less than 720*/
@media only screen and (max-width: 720px){
  .col {
    width: 97%;
    float: left;
  }
}
